.normal {
  font-family: Georgia, sans-serif;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
  background: white;
  padding: 0.1em 0;
  color: black;
  margin: 0;
}

.description {
  font-size: 0.95rem;
  font-style: italic;
  color: black;
  letter-spacing: 1px;
  margin: 0 0.1em;
}

.mail {
  color: #bc412b;
  letter-spacing: 1px;
  margin: 0 0.1em;
}

.phone {
  color: #bc412b;
  letter-spacing: 1px;
  margin: 0 0.1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
